*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
}
.flex{
    display: flex;
}
.libre-franklin {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
   
}
.bold-style{
    font-weight: 600;
    color: black;
}
main{
    flex-direction: column;
    align-items: center;
    padding: 10px;

    max-height: 100vh;
}
.logo-img{
    width: 70px;
    padding: 21px 0 16px 0;
}
.dash-img{
    width: 47%;
    padding: 10px 0 25px 0;
}
h1{
    padding: 8px 0;
    color:hsl(0, 0%, 60%);
    font-size: 38px;
}
h2{
    font-size: 15px;
    color:hsl(0, 0%, 59%);

}
/*input styles*/
.input-cont{
    padding: 25px 5px;
    width: 51%;
}
input{
    padding: 11px 40px;
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 92%);
    width: 64%;
}
input::placeholder{
    color: hsl(0, 0%, 92%);
}
button{
    padding: 11px 40px;
    margin-left: 5px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    background-color: hsl(223, 87%, 63%);
    color: white;
    border: 0;
    box-shadow: 5px;
    width: 30%;
}
.hide{
    display: none;
}
.alert-msg{
    color: hsl(354, 100%, 66%);
    font-size: 8px;
    font-style: italic;
}
button:hover{
    background-color: hsl(223, 87%, 83%);
    cursor: pointer;
}
/*icons styles*/
.icons-cont{
    width: 50%;
    padding: 30px 0 30px 0;
}
.icons{
    flex-direction: row;
    justify-content: center;
}
.icons li{
    list-style: none;
    padding: 0 5px;
}
.fa{
    color: hsl(223, 87%, 63%);
    border-radius: 100%;
    border: 1px solid hsl(223, 100%, 88%);
    padding: 6px 9px;
    font-size: 20px;
}
.copyright {
    font-size: 10px;
}